<template>
    <lightning-card title="Account">
        <lightning-layout>
            <lightning-layout-item size="12" padding="around-small">

                <lightning-record-edit-form object-api-name="Account" record-id={accountid} onsuccess={successHandler} data-id="form">
                    <div class="slds-grid">
                        <div class="slds-col slds-size_1-of-2">
                            <lightning-input-field field-name='Name' value={account.Name} ></lightning-input-field>
                            <lightning-input-field field-name='Phone' value={account.Phone} class="validate" required></lightning-input-field>
                            <lightning-input-field field-name='Website' value={account.Website} ></lightning-input-field>
                            <lightning-input-field field-name='Industry' value={account.Industry} class="validate" required></lightning-input-field>
                        </div>
                        <div class="slds-col slds-size_1-of-2">
                            <lightning-input-field field-name='BillingStreet' value={account.BillingStreet} class="validate" required></lightning-input-field>
                            <lightning-input-field field-name='BillingCity' value={account.BillingCity} class="validate" required></lightning-input-field>
                            <lightning-input-field field-name='BillingCountry' value={account.BillingCountry} class="validate" required></lightning-input-field>
                        </div>
                    </div>
                </lightning-record-edit-form>

            </lightning-layout-item>
        </lightning-layout>
    </lightning-card>
</template>