.THIS.contenitor {
    position: relative;
    display: flex;
    justify-content: center;
}

.THIS.contenitor .buttons {
    display: flex;
    justify-content: center;
    background: cadetblue;
    padding: 10px 0;
    position: fixed;
    bottom: 0;
    z-index: 99;
    width: 100%;
    left: 0;
    border-top: 1px solid #565656;
}

.THIS.contenitor .buttons button {
    margin: 0 10px;
}

.THIS.container-contact {
    position: relative;
}

.THIS.container-contact .btn-delete {
    position: absolute;
    bottom: 12%;
    left: 71%;
    background-color: red;
    border: 0;
    color: #fff;
}