<template>
    <template for:each={items} for:item="contact" for:index="index" >        
        <c-form-contact key={contact.Id} ondeletecontactbyid={deleteContactById} contactdata={contact}></c-form-contact>
    </template>
</template>